---
import Navbar from '../components/navbar.vue';
import Dashboard from '../layouts/dashboard.vue';
import '../input.css'
---

<div class="w-10/12 mx-auto">
	<Navbar client:load />
	<Dashboard client:load/>
</div>

<style>
</style>
