---
import Navbar from '../components/navbar.vue';
import Unittypes from '../components/unittypes.vue';
---

<div class="w-10/12 mx-auto">
    <Navbar client:load/>
    <Unittypes client:load/>
</div>